<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>
<p th:text="${person.name + ', ' + person.yearBirth + ', ' + person.email}">VALUE</p>
<hr th:if="${not #lists.isEmpty(tools)}"/>
<!--<p th:text="This person did rent tools" th:if="${#lists.isEmpty(tools)}">noTools</p>-->

<p th:text="Tools + ':'" style="font-weight: bold" th:if="${not #lists.isEmpty(tools)}">tools</p>


<div th:each="tool : ${tools}">
    <a th:text="${tool.name + ', ' + tool.brand + ', ' + tool.price}">client</a>
</div>

<hr/>

<form th:action="@{/people/{id}/edit(id=${person.client_id})}">
    <input type="submit" value="Edit"/>
</form>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.client_id})}">
    <input type="submit" value="Delete"/>
</form>

</body>
</html>