<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>
<p th:text="${person.name + ', ' + person.yearBirth + ', ' + person.email}">value</p>
<p th:text="'This ' + 'tool ' + 'is ' + 'free'" th:if="${#lists.isEmpty(tools)}">value</p>

<hr/>

<div th:if="${not #lists.isEmpty(tools)}">
    <p th:text="Tools + ':'" style="font-weight: bold">tools</p>

    <div th:each="tool : ${tools}">
        <a th:text="${tool.name + ', ' + tool.brand + ', ' + tool.price}">client</a>
    </div>

    <hr/>
</div>


<form th:action="@{/people/{id}/edit(id=${person.client_id})}">
    <input type="submit" value="Edit"/>
</form>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.client_id})}">
    <input type="submit" value="Delete"/>
</form>

</body>
</html>